body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1054px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u67550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:344px;
}
#u67551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:35px;
}
#u67551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u67551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u67552 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:0px;
  width:153px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u67552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:35px;
}
#u67553 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:209px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u67553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:35px;
}
#u67554 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:0px;
  width:256px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u67554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:35px;
}
#u67555 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:0px;
  width:181px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u67555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:35px;
}
#u67556 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:0px;
  width:152px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u67556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u67557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:87px;
  height:38px;
  display:flex;
}
#u67557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u67558 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:35px;
  width:153px;
  height:38px;
  display:flex;
}
#u67558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u67559 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:35px;
  width:209px;
  height:38px;
  display:flex;
}
#u67559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u67560 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:35px;
  width:256px;
  height:38px;
  display:flex;
}
#u67560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u67561 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:35px;
  width:181px;
  height:38px;
  display:flex;
}
#u67561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u67562 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:35px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u67562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u67563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:87px;
  height:40px;
  display:flex;
}
#u67563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u67564 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:73px;
  width:153px;
  height:40px;
  display:flex;
}
#u67564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:40px;
}
#u67565 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:73px;
  width:209px;
  height:40px;
  display:flex;
}
#u67565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u67566 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:73px;
  width:256px;
  height:40px;
  display:flex;
}
#u67566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:40px;
}
#u67567 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:73px;
  width:181px;
  height:40px;
  display:flex;
}
#u67567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u67568 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:73px;
  width:152px;
  height:40px;
  display:flex;
  color:#5CC870;
}
#u67568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:39px;
}
#u67569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:87px;
  height:39px;
  display:flex;
}
#u67569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:39px;
}
#u67570 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:113px;
  width:153px;
  height:39px;
  display:flex;
}
#u67570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:39px;
}
#u67571 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:113px;
  width:209px;
  height:39px;
  display:flex;
}
#u67571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:39px;
}
#u67572 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:113px;
  width:256px;
  height:39px;
  display:flex;
}
#u67572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:39px;
}
#u67573 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:113px;
  width:181px;
  height:39px;
  display:flex;
}
#u67573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:39px;
}
#u67574 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:113px;
  width:152px;
  height:39px;
  display:flex;
  color:#5CC870;
}
#u67574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u67575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:87px;
  height:40px;
  display:flex;
}
#u67575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u67576 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:152px;
  width:153px;
  height:40px;
  display:flex;
}
#u67576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:40px;
}
#u67577 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:152px;
  width:209px;
  height:40px;
  display:flex;
}
#u67577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
}
#u67578 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:152px;
  width:256px;
  height:40px;
  display:flex;
}
#u67578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:40px;
}
#u67579 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:152px;
  width:181px;
  height:40px;
  display:flex;
}
#u67579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u67580 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:152px;
  width:152px;
  height:40px;
  display:flex;
  color:#5CC870;
}
#u67580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u67581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:87px;
  height:38px;
  display:flex;
}
#u67581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u67582 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:192px;
  width:153px;
  height:38px;
  display:flex;
}
#u67582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u67583 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:192px;
  width:209px;
  height:38px;
  display:flex;
}
#u67583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u67584 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:192px;
  width:256px;
  height:38px;
  display:flex;
}
#u67584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u67585 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:192px;
  width:181px;
  height:38px;
  display:flex;
}
#u67585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u67586 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:192px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u67586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u67587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:87px;
  height:38px;
  display:flex;
}
#u67587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u67588 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:230px;
  width:153px;
  height:38px;
  display:flex;
}
#u67588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u67589 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:230px;
  width:209px;
  height:38px;
  display:flex;
}
#u67589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u67590 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:230px;
  width:256px;
  height:38px;
  display:flex;
}
#u67590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u67591 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:230px;
  width:181px;
  height:38px;
  display:flex;
}
#u67591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u67592 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:230px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u67592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u67593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:268px;
  width:87px;
  height:38px;
  display:flex;
}
#u67593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u67594 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:268px;
  width:153px;
  height:38px;
  display:flex;
}
#u67594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u67595 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:268px;
  width:209px;
  height:38px;
  display:flex;
}
#u67595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u67596 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:268px;
  width:256px;
  height:38px;
  display:flex;
}
#u67596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u67597 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:268px;
  width:181px;
  height:38px;
  display:flex;
}
#u67597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u67598 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:268px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u67598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
}
#u67599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:306px;
  width:87px;
  height:38px;
  display:flex;
}
#u67599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u67600 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:306px;
  width:153px;
  height:38px;
  display:flex;
}
#u67600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:38px;
}
#u67601 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:306px;
  width:209px;
  height:38px;
  display:flex;
}
#u67601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:38px;
}
#u67602 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:306px;
  width:256px;
  height:38px;
  display:flex;
}
#u67602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:38px;
}
#u67603 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:306px;
  width:181px;
  height:38px;
  display:flex;
}
#u67603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u67604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:38px;
}
#u67604 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:306px;
  width:152px;
  height:38px;
  display:flex;
  color:#5CC870;
}
#u67604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
