body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1658px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u37874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:813px;
}
#u37874 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:794px;
  width:300px;
  height:813px;
  display:flex;
}
#u37874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:635px;
}
#u37875 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:160px;
  width:300px;
  height:635px;
  display:flex;
}
#u37875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:635px;
}
#u37876 {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:160px;
  width:300px;
  height:635px;
  display:flex;
}
#u37876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:635px;
}
#u37877 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:160px;
  width:300px;
  height:635px;
  display:flex;
}
#u37877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:635px;
}
#u37878 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:160px;
  width:300px;
  height:635px;
  display:flex;
}
#u37878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:635px;
}
#u37879 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:160px;
  width:300px;
  height:635px;
  display:flex;
}
#u37879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u37880 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:192px;
  height:37px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u37880 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u37880_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u37881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u37882 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:111px;
  width:300px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u37882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u37883 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:111px;
  width:300px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u37883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u37884 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:111px;
  width:300px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u37884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u37885 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:111px;
  width:300px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u37885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u37886 {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:111px;
  width:300px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u37886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:684px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u37887 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:111px;
  width:30px;
  height:684px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u37887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u37888 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:214px;
  width:150px;
  height:50px;
  display:flex;
  font-size:14px;
}
#u37888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37889 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:286px;
  width:150px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37890 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:401px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37891 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:529px;
  width:150px;
  height:71px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37892 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:239px;
  width:0px;
  height:0px;
}
#u37892_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:229px;
  height:10px;
}
#u37892_seg1 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:-5px;
  width:10px;
  height:52px;
}
#u37892_seg2 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:34px;
  width:18px;
  height:19px;
}
#u37892_text {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37893 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:336px;
  width:0px;
  height:0px;
}
#u37893_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:70px;
}
#u37893_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:52px;
  width:18px;
  height:19px;
}
#u37893_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37894 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:461px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u37894_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:73px;
}
#u37894_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:55px;
  width:18px;
  height:19px;
}
#u37894_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u37895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:813px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u37895 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:794px;
  width:30px;
  height:813px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u37895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u37896 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:681px;
  width:60px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u37896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37897 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:685px;
  width:150px;
  height:71px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u37898 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:525px;
  width:60px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u37898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37899 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:600px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u37899_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:90px;
}
#u37899_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:72px;
  width:18px;
  height:19px;
}
#u37899_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:813px;
}
#u37900 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:794px;
  width:300px;
  height:813px;
  display:flex;
}
#u37900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:813px;
}
#u37901 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:794px;
  width:300px;
  height:813px;
  display:flex;
}
#u37901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:813px;
}
#u37902 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:794px;
  width:300px;
  height:813px;
  display:flex;
}
#u37902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:813px;
}
#u37903 {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:794px;
  width:300px;
  height:813px;
  display:flex;
}
#u37903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37904 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:851px;
  width:150px;
  height:71px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37905 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:756px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u37905_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:65px;
}
#u37905_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:55px;
  width:309px;
  height:10px;
}
#u37905_seg2 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:55px;
  width:10px;
  height:40px;
}
#u37905_seg3 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:82px;
  width:18px;
  height:19px;
}
#u37905_text {
  border-width:0px;
  position:absolute;
  left:87px;
  top:52px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37906 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:918px;
  width:150px;
  height:71px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37907 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:1038px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37908 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:887px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u37908_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:229px;
  height:10px;
}
#u37908_seg1 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:-5px;
  width:10px;
  height:36px;
}
#u37908_seg2 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:18px;
  width:18px;
  height:19px;
}
#u37908_text {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37909 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:989px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u37909_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:54px;
}
#u37909_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:36px;
  width:18px;
  height:19px;
}
#u37909_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37910 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:1170px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37911 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:1098px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u37911_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:77px;
}
#u37911_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:59px;
  width:18px;
  height:19px;
}
#u37911_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u37912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37912 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:1293px;
  width:150px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37913 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:1230px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u37913_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:68px;
}
#u37913_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:50px;
  width:18px;
  height:19px;
}
#u37913_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u37914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37914 {
  border-width:0px;
  position:absolute;
  left:1344px;
  top:1284px;
  width:150px;
  height:71px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37915 {
  border-width:0px;
  position:absolute;
  left:1159px;
  top:1200px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u37915_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:265px;
  height:10px;
}
#u37915_seg1 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:-5px;
  width:10px;
  height:89px;
}
#u37915_seg2 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:71px;
  width:18px;
  height:19px;
}
#u37915_text {
  border-width:0px;
  position:absolute;
  left:122px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u37916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37916 {
  border-width:0px;
  position:absolute;
  left:1369px;
  top:1408px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37917 {
  border-width:0px;
  position:absolute;
  left:1419px;
  top:1355px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u37917_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:58px;
}
#u37917_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:19px;
}
#u37917_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37918 {
  border-width:0px;
  position:absolute;
  left:1344px;
  top:1535px;
  width:150px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37919 {
  border-width:0px;
  position:absolute;
  left:1419px;
  top:1468px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u37919_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:72px;
}
#u37919_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:54px;
  width:18px;
  height:19px;
}
#u37919_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u37920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37920 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:1032px;
  width:150px;
  height:71px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u37920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37921 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:1068px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u37921_seg0 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:-5px;
  width:179px;
  height:10px;
}
#u37921_seg1 {
  border-width:0px;
  position:absolute;
  left:-180px;
  top:-9px;
  width:19px;
  height:18px;
}
#u37921_text {
  border-width:0px;
  position:absolute;
  left:-137px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u37922 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:1032px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u37922_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-83px;
  width:10px;
  height:83px;
}
#u37922_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-83px;
  width:229px;
  height:10px;
}
#u37922_seg2 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:-87px;
  width:19px;
  height:18px;
}
#u37922_text {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-86px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37923 {
  border-width:0px;
  position:absolute;
  left:1369px;
  top:1438px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u37923_seg0 {
  border-width:0px;
  position:absolute;
  left:-564px;
  top:-5px;
  width:564px;
  height:10px;
}
#u37923_seg1 {
  border-width:0px;
  position:absolute;
  left:-564px;
  top:-335px;
  width:10px;
  height:340px;
}
#u37923_seg2 {
  border-width:0px;
  position:absolute;
  left:-568px;
  top:-341px;
  width:18px;
  height:19px;
}
#u37923_text {
  border-width:0px;
  position:absolute;
  left:-497px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u37924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37924 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:805px;
  width:100px;
  height:60px;
  display:flex;
  color:#FF0000;
}
#u37924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u37925 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:1082px;
  width:127px;
  height:60px;
  display:flex;
  color:#FF0000;
}
#u37925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u37926 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:1290px;
  width:127px;
  height:60px;
  display:flex;
  color:#FF0000;
}
#u37926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u37927 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:1452px;
  width:127px;
  height:60px;
  display:flex;
  color:#FF0000;
}
#u37927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u37928 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:1530px;
  width:127px;
  height:60px;
  display:flex;
  color:#FF0000;
}
#u37928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u37929 {
  border-width:0px;
  position:absolute;
  left:1283px;
  top:1127px;
  width:127px;
  height:60px;
  display:flex;
  color:#FF0000;
}
#u37929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u37930 {
  border-width:0px;
  position:absolute;
  left:1558px;
  top:1607px;
  width:100px;
  height:100px;
  display:flex;
}
#u37930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37931 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:565px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u37931_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:163px;
  height:10px;
}
#u37931_seg1 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:-5px;
  width:10px;
  height:291px;
}
#u37931_seg2 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:273px;
  width:18px;
  height:19px;
}
#u37931_text {
  border-width:0px;
  position:absolute;
  left:108px;
  top:56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37932 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:721px;
  width:0px;
  height:0px;
  font-size:14px;
}
#u37932_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:161px;
  height:10px;
}
#u37932_seg1 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:-5px;
  width:10px;
  height:135px;
}
#u37932_seg2 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:117px;
  width:18px;
  height:19px;
}
#u37932_text {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
