body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1432px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u97718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u97718 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:754px;
  width:150px;
  height:100px;
  display:flex;
  font-size:14px;
}
#u97718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97719 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:804px;
  width:0px;
  height:0px;
}
#u97719_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:561px;
  height:10px;
}
#u97719_text {
  border-width:0px;
  position:absolute;
  left:228px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u97720 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:754px;
  width:150px;
  height:100px;
  display:flex;
  font-size:14px;
}
#u97720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u97721 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:113px;
  width:150px;
  height:100px;
  display:flex;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u97721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97722 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:497px;
  width:0px;
  height:0px;
}
#u97722_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:262px;
}
#u97722_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:120px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:67px;
}
#u97723 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:591px;
  width:134px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97724 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:730px;
  width:8px;
  height:16px;
  display:flex;
}
#u97724 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97724_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u97725 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:113px;
  width:150px;
  height:100px;
  display:flex;
  font-size:14px;
}
#u97725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u97726 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:113px;
  width:150px;
  height:100px;
  display:flex;
  font-size:14px;
}
#u97726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97727 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:163px;
  width:0px;
  height:0px;
}
#u97727_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:251px;
  height:10px;
}
#u97727_text {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97728 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:163px;
  width:0px;
  height:0px;
}
#u97728_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:268px;
  height:10px;
}
#u97728_text {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97729 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:176px;
  width:8px;
  height:16px;
  display:flex;
}
#u97729 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97729_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97730 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:176px;
  width:8px;
  height:16px;
  display:flex;
}
#u97730 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97730_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:67px;
}
#u97731 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:176px;
  width:118px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97732 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:136px;
  width:8px;
  height:16px;
  display:flex;
}
#u97732 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97732_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97733 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:136px;
  width:8px;
  height:16px;
  display:flex;
}
#u97733 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97733_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:67px;
}
#u97734 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:85px;
  width:118px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u97735 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:397px;
  width:150px;
  height:100px;
  display:flex;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u97735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u97736 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:397px;
  width:150px;
  height:100px;
  display:flex;
  font-size:14px;
}
#u97736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u97737 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:397px;
  width:150px;
  height:100px;
  display:flex;
  font-size:14px;
}
#u97737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97738 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:447px;
  width:0px;
  height:0px;
}
#u97738_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:268px;
  height:10px;
}
#u97738_text {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97739 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:420px;
  width:8px;
  height:16px;
  display:flex;
}
#u97739 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97739_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97740 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:420px;
  width:8px;
  height:16px;
  display:flex;
}
#u97740 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97740_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:67px;
}
#u97741 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:369px;
  width:118px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97742 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:424px;
  width:8px;
  height:16px;
  display:flex;
}
#u97742 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97742_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97743 {
  border-width:0px;
  position:absolute;
  left:1223px;
  top:424px;
  width:8px;
  height:16px;
  display:flex;
}
#u97743 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97743_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:67px;
}
#u97744 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:373px;
  width:118px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:67px;
}
#u97745 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:176px;
  width:134px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97746 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:510px;
  width:8px;
  height:16px;
  display:flex;
}
#u97746 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97746_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97747 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:510px;
  width:8px;
  height:16px;
  display:flex;
}
#u97747 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97747_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:67px;
}
#u97748 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:591px;
  width:309px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u97748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97749 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:726px;
  width:8px;
  height:16px;
  display:flex;
}
#u97749 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97749_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:67px;
}
#u97750 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:824px;
  width:149px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97751 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:820px;
  width:8px;
  height:16px;
  display:flex;
}
#u97751 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97751_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97752 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:820px;
  width:8px;
  height:16px;
  display:flex;
}
#u97752 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97752_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u97753 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:327px;
  height:32px;
  display:flex;
  font-size:28px;
}
#u97753 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97753_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u97754 {
  border-width:0px;
  position:absolute;
  left:1400px;
  top:893px;
  width:32px;
  height:32px;
  display:flex;
}
#u97754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97755 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:497px;
  width:0px;
  height:0px;
}
#u97755_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:262px;
}
#u97755_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:244px;
  width:18px;
  height:19px;
}
#u97755_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:120px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u97756 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:397px;
  width:150px;
  height:100px;
  display:flex;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
}
#u97756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97757 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:447px;
  width:0px;
  height:0px;
}
#u97757_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:198px;
  height:10px;
}
#u97757_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97758 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:447px;
  width:0px;
  height:0px;
}
#u97758_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:218px;
  height:10px;
}
#u97758_text {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97759 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:420px;
  width:8px;
  height:16px;
  display:flex;
}
#u97759 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97759_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97760 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:420px;
  width:8px;
  height:16px;
  display:flex;
}
#u97760 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97760_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:67px;
}
#u97761 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:369px;
  width:118px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97762 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:754px;
  width:0px;
  height:0px;
}
#u97762_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-165px;
  width:10px;
  height:165px;
}
#u97762_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-165px;
  width:373px;
  height:10px;
}
#u97762_seg2 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:-257px;
  width:10px;
  height:102px;
}
#u97762_text {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-168px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:67px;
}
#u97763 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:519px;
  width:118px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u97763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97764 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:560px;
  width:8px;
  height:16px;
  display:flex;
}
#u97764 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97764_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97765 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:565px;
  width:8px;
  height:16px;
  display:flex;
}
#u97765 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97765_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
