body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1646px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u97558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u97558 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:234px;
  height:32px;
  display:flex;
  font-size:28px;
}
#u97558 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97558_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97559 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:85px;
  width:196px;
  height:16px;
  display:flex;
}
#u97559 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97559_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u97560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97560 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:119px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97561 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:278px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97562 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:388px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97563 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:278px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97564 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:278px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97565 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:388px;
  width:128px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97566 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:338px;
  width:0px;
  height:0px;
}
#u97566_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u97566_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:75px;
  width:21px;
  height:10px;
}
#u97566_seg2 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:71px;
  width:19px;
  height:18px;
}
#u97566_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97567 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:499px;
  width:128px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97568 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:338px;
  width:0px;
  height:0px;
}
#u97568_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u97568_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:75px;
  width:26px;
  height:10px;
}
#u97568_seg2 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:71px;
  width:19px;
  height:18px;
}
#u97568_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97569 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:338px;
  width:0px;
  height:0px;
}
#u97569_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:196px;
}
#u97569_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:186px;
  width:26px;
  height:10px;
}
#u97569_seg2 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:182px;
  width:19px;
  height:18px;
}
#u97569_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:98px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97570 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:388px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97571 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:338px;
  width:0px;
  height:0px;
}
#u97571_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u97571_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:75px;
  width:26px;
  height:10px;
}
#u97571_seg2 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:71px;
  width:19px;
  height:18px;
}
#u97571_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97572 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:278px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97573 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:388px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97574 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:499px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97575 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:610px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97576 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:338px;
  width:0px;
  height:0px;
}
#u97576_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u97576_seg1 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:75px;
  width:37px;
  height:10px;
}
#u97576_seg2 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:71px;
  width:19px;
  height:18px;
}
#u97576_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97577 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:338px;
  width:0px;
  height:0px;
}
#u97577_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:196px;
}
#u97577_seg1 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:186px;
  width:37px;
  height:10px;
}
#u97577_seg2 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:182px;
  width:19px;
  height:18px;
}
#u97577_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:104px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97578 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:338px;
  width:0px;
  height:0px;
}
#u97578_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:307px;
}
#u97578_seg1 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:297px;
  width:37px;
  height:10px;
}
#u97578_seg2 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:293px;
  width:19px;
  height:18px;
}
#u97578_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:159px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97579 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:499px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97580 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:338px;
  width:0px;
  height:0px;
}
#u97580_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:196px;
}
#u97580_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:186px;
  width:26px;
  height:10px;
}
#u97580_seg2 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:182px;
  width:19px;
  height:18px;
}
#u97580_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:98px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97581 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:278px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97582 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:388px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97583 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:499px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97584 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:610px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97585 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:718px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97586 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:338px;
  width:0px;
  height:0px;
}
#u97586_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u97586_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:75px;
  width:26px;
  height:10px;
}
#u97586_seg2 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:71px;
  width:19px;
  height:18px;
}
#u97586_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97587 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:338px;
  width:0px;
  height:0px;
}
#u97587_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:196px;
}
#u97587_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:186px;
  width:26px;
  height:10px;
}
#u97587_seg2 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:182px;
  width:19px;
  height:18px;
}
#u97587_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:98px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97588 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:338px;
  width:0px;
  height:0px;
}
#u97588_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:307px;
}
#u97588_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:297px;
  width:26px;
  height:10px;
}
#u97588_seg2 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:293px;
  width:19px;
  height:18px;
}
#u97588_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:154px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97589 {
  border-width:0px;
  position:absolute;
  left:1133px;
  top:338px;
  width:0px;
  height:0px;
}
#u97589_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:415px;
}
#u97589_seg1 {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:405px;
  width:26px;
  height:10px;
}
#u97589_seg2 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:401px;
  width:19px;
  height:18px;
}
#u97589_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:208px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97590 {
  border-width:0px;
  position:absolute;
  left:1284px;
  top:278px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97591 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:179px;
  width:0px;
  height:0px;
}
#u97591_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u97591_seg1 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:46px;
  width:83px;
  height:10px;
}
#u97591_seg2 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:46px;
  width:10px;
  height:53px;
}
#u97591_seg3 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:86px;
  width:18px;
  height:19px;
}
#u97591_text {
  border-width:0px;
  position:absolute;
  left:-85px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97592 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:179px;
  width:0px;
  height:0px;
}
#u97592_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u97592_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:46px;
  width:148px;
  height:10px;
}
#u97592_seg2 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:46px;
  width:10px;
  height:53px;
}
#u97592_seg3 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:86px;
  width:18px;
  height:19px;
}
#u97592_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97593 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:179px;
  width:0px;
  height:0px;
}
#u97593_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u97593_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:46px;
  width:359px;
  height:10px;
}
#u97593_seg2 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:46px;
  width:10px;
  height:53px;
}
#u97593_seg3 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:86px;
  width:18px;
  height:19px;
}
#u97593_text {
  border-width:0px;
  position:absolute;
  left:123px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97594 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:179px;
  width:0px;
  height:0px;
}
#u97594_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u97594_seg1 {
  border-width:0px;
  position:absolute;
  left:-427px;
  top:46px;
  width:432px;
  height:10px;
}
#u97594_seg2 {
  border-width:0px;
  position:absolute;
  left:-427px;
  top:46px;
  width:10px;
  height:53px;
}
#u97594_seg3 {
  border-width:0px;
  position:absolute;
  left:-431px;
  top:86px;
  width:18px;
  height:19px;
}
#u97594_text {
  border-width:0px;
  position:absolute;
  left:-260px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97595 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:179px;
  width:0px;
  height:0px;
}
#u97595_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u97595_seg1 {
  border-width:0px;
  position:absolute;
  left:-638px;
  top:46px;
  width:643px;
  height:10px;
}
#u97595_seg2 {
  border-width:0px;
  position:absolute;
  left:-638px;
  top:46px;
  width:10px;
  height:53px;
}
#u97595_seg3 {
  border-width:0px;
  position:absolute;
  left:-642px;
  top:86px;
  width:18px;
  height:19px;
}
#u97595_text {
  border-width:0px;
  position:absolute;
  left:-365px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97596 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:179px;
  width:0px;
  height:0px;
}
#u97596_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u97596_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:46px;
  width:570px;
  height:10px;
}
#u97596_seg2 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:46px;
  width:10px;
  height:53px;
}
#u97596_seg3 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:86px;
  width:18px;
  height:19px;
}
#u97596_text {
  border-width:0px;
  position:absolute;
  left:228px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97597 {
  border-width:0px;
  position:absolute;
  left:1495px;
  top:278px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97598 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:179px;
  width:0px;
  height:0px;
}
#u97598_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u97598_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:46px;
  width:781px;
  height:10px;
}
#u97598_seg2 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:46px;
  width:10px;
  height:53px;
}
#u97598_seg3 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:86px;
  width:18px;
  height:19px;
}
#u97598_text {
  border-width:0px;
  position:absolute;
  left:334px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u97599 {
  border-width:0px;
  position:absolute;
  left:1614px;
  top:778px;
  width:32px;
  height:32px;
  display:flex;
}
#u97599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97600 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:276px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97601 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:388px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97602 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:336px;
  width:0px;
  height:0px;
}
#u97602_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:87px;
}
#u97602_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:77px;
  width:22px;
  height:10px;
}
#u97602_seg2 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:73px;
  width:19px;
  height:18px;
}
#u97602_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97603 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:179px;
  width:0px;
  height:0px;
}
#u97603_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:56px;
}
#u97603_seg1 {
  border-width:0px;
  position:absolute;
  left:-256px;
  top:46px;
  width:261px;
  height:10px;
}
#u97603_seg2 {
  border-width:0px;
  position:absolute;
  left:-256px;
  top:46px;
  width:10px;
  height:51px;
}
#u97603_seg3 {
  border-width:0px;
  position:absolute;
  left:-260px;
  top:84px;
  width:18px;
  height:19px;
}
#u97603_text {
  border-width:0px;
  position:absolute;
  left:-173px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97604 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:38px;
  width:120px;
  height:60px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u97604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
