body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:628px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u12826 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:256px;
  height:37px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u12826 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12826_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12827 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:103px;
  width:561px;
  height:151px;
}
#u12828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u12828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:40px;
}
#u12829 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:461px;
  height:40px;
  display:flex;
}
#u12829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:71px;
}
#u12830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:71px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:71px;
}
#u12831 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:40px;
  width:461px;
  height:71px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u12831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u12832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:40px;
}
#u12833 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:111px;
  width:461px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u12833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12834 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:297px;
  width:596px;
  height:32px;
  display:flex;
}
#u12834 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12834_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
